@import 'rupture'
@import "variable/_function.styl"
@import "variable/_fonts.styl"
@import "variable/_ie.styl"
@import "icon/sprite.css"
@import "variable/_helper.styl"
@import "variable/_default.styl"
@import "variable/_elements.styl"
@import "variable/_constant.styl"
@import "../module/**/*"

body
	@extend .type--main
	font-family $v-font
	color $main-text-color
	line-height 1.2
	letter-spacing 0.01em

.main-cont
	center(1200px,10px)

.section
	padding: 90px 0

.section-title
	font-size: 46px
	font-weight: bold
	up()
	font-family: Pusia
	text-align: center
	margin-bottom: 80px
	position: relative
	color black
	&:before
		content ""
		position: absolute
		width:

.service
	f()
	br(20px)
	//box-shadow 0px 12px 29px 0px rgba(0,0,0,0.07)
.service__el
	padding: 0 30px
	border-right 1px solid #ededed
	&:last-child
		border 0
.service__title
	font-size: 26px
	font-weight: bold
	up()
	font-family: Pusia
	margin-bottom: 40px
.service__list-el
	display: inline-block
	margin-bottom: 15px
	color #666c72
	position: relative
	padding-left: 20px
	&:before
		content ""
		size 5px
		background: $red
		position: absolute
		left: 0
		top 5px
		round()

.service__el-icon
	margin-bottom: 20px
	//flex(mid)
	.icon
		size 80px

.section-title-head
	flex(mid)
	margin-bottom: 10px

.section--under
	padding-top: 0

.about__title
	font-size: 26px
	font-family: Pusia
	margin-bottom: 20px
	padding-bottom: 20px
	border-bottom 1px solid $border-color
.about__text
	line-height: 1.6
	margin-bottom: 40px
.about
	f()
	justify-content: space-between
.about__img
	bg-full()
	padding: 20%

.about__content
	flex(between)
	width: 100%
.about__wrap
	width: 40%

.slider-el
	color white
	flex(mid)
	display flex!important
	margin 10px 0

//for custom navigation
.slider-control
	round()
	flex(mid)
	tr(all)
	size 40px
	background: white
	position: absolute
	top 50%
	margin-top: -20px
	box-shadow 0px 2px 10px #c5c2c2
	z-index 10
	cp()
	&:hover
		background: $red
		.icon
			fill white
	.icon
		size 14px

.slider-control--left
	left -60px
.slider-control--right
	right -60px

.about-get
	@extend .btn--light
	@extend .btn--md
	@extend .btn--fixsize

.section--about
	padding-top: 0px

.header-sqr
	width: 20vw
	height: 80%
	border 20px solid $red
	position: absolute
	top 10%
	left: calc(50% -20vw)

.section--gray
	//background: #d8d8d8

.news
	flex(between)
	fw()
.news__el
	padding: 30px
	background: white
	width: 31%
	bsh()
	margin-bottom: 20px
.news__title
	font-weight: bold
	margin-bottom: 20px
.news__text
	line-height: 1.6
	margin-bottom: 20px
.news-footer
	flex(between)
.news-get
	color black
.news-date
	padding: 5px 10px
	background #f1f1f1
	color #949494

.section--news
	bg-full()
	position: relative
	.header-sqr
		left calc(50% - 40vw)
		height: 90%
		transform skewX(0deg)
		//background: $red
.filter
	position: absolute
	width: 100%
	height: 100%
	top 0
	left: 0

.bg-text
	font-family: Pusia
	position: absolute
	font-size: 320px
	color #f1f1f1
	right: 0