include block_html/_style.pug
include block_html/_include.pug

.header--main
	+header()

.bread-wrap
	.main-cont
		.bread-wrap__title Главная / Наша команда

.main-content
	.main-content__figure
	.main-cont
		.staff
			.staff__img
				img(src="img/worker.jpg", alt="")
			.staff__content
				.staff__title Павел Кудрявцев
				.staff__state Управляющий партнер
				.staff__text
					p Обладает 20-летним опытом в области информационных технологий, из них более 10 лет практики в сфере ИТ-менеджмента и аудита информационных технологий. Окончил МЭСИ, факультет экономической кибернетики. В руководил разработками информационных систем, разрабатывал методики проведения аудита ИТ, участвовал в проектах по внедрению систем управления ИТ, аудиту и управленческому консалтингу. Разрабатывал ряд курсов и участвовал в создании систем динстанционного обучения для наших
					p Заказчиков, преподавал тренинги по ИТ-менеджменту, контролю и аудиту ИТ, а также по разработке и сопровождению автоматизированных систем. Автор ряда публикаций по управлению рисками в ИТ и информационному аудиту.систем управления ИТ, аудиту и управленческому консалтингу. Разрабатывал ряд курсов и участвовал в создании систем динстанционного обучения для наших Заказчиков, преподавал тренинги по ИТ-менеджменту, контролю и аудиту ИТ, а также по разработке и сопровождению автоматизированных систем. Автор ряда публикаций по управлению рисками в ИТ и информационному аудиту.
				.staff-type__wrap
					.staff-type
						.staff-type__name Грейд:
						.staff-type__text ITIL EXPERT
					.staff-type
						.staff-type__name Выполненных проектов:
						.staff-type__text 100+
					.staff-type
						.staff-type__name Проектный опыт:
						.staff-type__text 15 лет

.section.section-worker
	.header-sqr
	.bg-text MANS
	.filter.filter--white
	.main-cont
		.section-title-row
			.section-title-head
				img(src="img/title-head.png", alt="")
			.section-title Наши сотрудники
			.worker
				- for (var i=0;i<8;i++)
					.worker__el
						.worker__el__img-wrap
							.worker__el-img(style="background-image:url('img/worker.jpg')")
						.worker__el-content
							.worker__el-name Павел Кудрявцев
							.worker__el-state Управляющий партнер
							.worker__el-text Обладает 20-летним опытом в области информационных технологий, из них более 10 лет практики в сфере ИТ-менеджмента и аудита информационных технологий. Окончил МЭСИ, факультет экономической кибернетики.

+footer()

include ./block_html/_script.pug

