-
	pages = [
		{
		'name':'Элементы',
		'href':'elements'
		},
		{
			'name':'Главная',
			'href':'main'
		},
		{
		'name':'Сотрудник подробная',
		'href':'item'
		},
		{
		'name':'Новости Подробная',
		'href':'news'
		},
		{
		'name':'Услуги',
		'href':'service'
		},
		{
		'name':'Услуги-подробная',
		'href':'service-full'
		},
		{
		'name':'О компании',
		'href':'about'
		},
		{
		'name':'Контакты',
		'href':'contact'
		},
		{
		'name':'Заказчики',
		'href':'customer'
		},
		{
		'name':'Заказчики-подробная',
		'href':'customer-full'
		}
	]

